body {
    margin: 0;
    background-color: rgb(138, 127, 127);
    font-family: sans-serif;
}

table{
    padding: auto;
    border: 3px;
    border-style: dashed;

}

tr{
    text-align: center;
    background-color: aqua;
    border: 3px;
    border-style: dashed;
    height: 25px;
}